dist: xenial
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"
  - "pypy"
install:
  - pip install coveralls
script:
  - coverage run test_dbj.py
after_success:
  - coveralls
