dist: bionic
language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "pypy"
  - "pypy3"
install:
  - pip install coveralls
script:
  - coverage run test_dbj.py
after_success:
  - coveralls
